:root {
  --row-number: 0;
  --column-number: 0;
}

* {
  box-sizing:border-box;
}

.topDiv {
  border: solid 2px blue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newGridBtn {
  font-size: larger;
}

.gridContainer {
  min-height: 200px;
  min-width: 200px;
  border: solid 5px red;
  display: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new {
  background-color: teal;
  border: solid 0.5px white;
}

.hover {
  background-color: violet;
}

.container {
  border: solid 3px green;
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-template-rows: repeat(var(--row-number), 1fr);
}



